# MediaTekDocuments — dépôt BTS

.vs/
bin/
obj/
*.user
*.suo
logs/
MediaTekDocumentsSetup/Release/
MediaTekDocumentsSetup/Debug/
livrables/*.msi
livrables/*.exe

# IDE et dossiers hors périmètre
.idea/
.vscode/
TestResults/
_testjson/
packages/
savebdd/

# Artefact généré par le script Setup
MediaTekDocumentsSetup/AddMsiShortcuts.exe

# Log de génération Sandcastle
docs/csharp/Help/LastBuild.log
